
@media(max-width: 1300px){

    /*custom css*/

    /*contact section contact details */

    /*.contact-details{
        padding: 0px 0px;
    }*/

    .contact-form{
        /*margin: 0;*/
        margin: 0 0 0 95px;
    }
}

@media(max-width: 1280px){

    /*custom css*/

    /*services section slider*/

    .banner .slider-container{
        width: 54%;
    }

    /*about section*/

    .about-us-text h2{
        margin-right: 279px;
    }

    .about-us-text span{
        margin-right: 253px;
    }

    .about-us-text p {
      margin-top: 10px;
    }

}


@media(max-width: 1070px){

    /*custom css*/

    /*contact section contact details */

    .contact-form{
       margin: 0 0 0 73px;
    }

    .contact-details {
        padding: 0px 52px;
    }

    /*services section slider*/

    .banner .slider-container {
        width: 65%;
    }

    /*about section*/

    .about-us-text h2 {
       margin-right: 176px;
    }

    .about-us-text span{
        margin-right: 139px;
    }
}


@media(max-width: 912px){

    /*custom css*/

    /*contact section contact details */


    .contact-form{
        margin: -32px 0 0px 45px;
    }

    .contact-details{
        padding: 0 19px;
    }

    .agent-contact-info-text {
       text-align: justify;
    }

    .banner .slider-container{
        width: 68%;
    }

    /*about section*/

    .about-us-text h2 {
       position: relative;
       margin: 0;
       left: 98px;
    }

    .about-us-text p {
        margin: 7px 0 37px 120px;
    }

    .about-us-text span{
        margin: 0;
        position: relative;
        left: 118px;
    }

}


@media(max-width: 768px){

    /*index section start*/


    /*navbar-start*/

    .header .navbar{
        background: #1239c83b;
    }

    .header .navbar-brand img{
        height: 32px!important;
    }

    .header .navbar-nav{
        text-align: center;
        margin: 0px -14px!important;
    }

    .header .navbar-nav i{
        display: block;
        font-size: 25px;
        margin: -8px auto -1px;
        height: 21px;
    }

    .header .nav-item .nav-link.active{
        font-size: 11px;
    }

    .button{
        margin: -1px auto 0px;
        /*border: 1px solid;*/
        height: 38px!important;
    }

    .home{
        background: #85586F;
    }
    .services{
        background:#ac7d88;
    }  
    .career{
        background:#DEB6AB  
    }
    .about{
        background:#ebcfc8;
    }
    .contact{
        background: #e5d1cc;
    }
    .Register{
        margin-top:3px;
        /*background: #e8d7d3;*/
    }

    /*navbar-end*/


    .slider-img{
        height: 304px!important;
    }

    .carousel-caption h1{
        font-size: 37px!important;
        position: relative;
        bottom: 11px!important;
        letter-spacing: 2px!important;
        word-spacing: 7px!important;
    }
     

    /*gallery section start*/

    .rooms-headline {
        margin: 0px auto -11px;
        letter-spacing: 1px;
        word-spacing: 4px; 
    }

    .gallery-images{
        margin: 0 auto 51px auto;
    }

    /*.gallery-text-box{
        height: 65px;
    }*/

    /*.gallery-text-box h3{
        font-size: 17px;
    }*/

    /*gallery section end*/
 

    /*index section end*/


    
    /*services section start*/

    .section .heading-1{
        margin-top: 43px;
        font-family: 'Bodoni Moda', serif;
        color:#121111c4;
        letter-spacing: 1px;
        word-spacing: 4px;
        background: linear-gradient(to right top,rgb(179 18 131 / 5%),rgb(100 0 90 / 42%));    
    }

    .icons-container{
        margin-top: 60px!important;
    }

    /* .section .icon i{
        font-size: 57px;
    }*/

    .fa-temperature-arrow-down{
        /*position: relative;*/
        /*bottom: 4px!important;
        margin: 10px auto 41px;*/
        /*bottom: -33px!important;*/
        bottom: 8px!important;
        /*margin: -30px auto 59px;*/
        right: 22px;
        /*left: 17px;*/
    }

    .ac-text{
        /*margin-top: 19px;*/
        /*margin-top: -4px;*/
        /*margin-left: 79px!important;*/
        /*font-size: 1.4em!important;*/
        /*margin-bottom: 30px;*/
    }

    .fa-ferry{
        left: 12px;
        bottom: 20px;
        position: relative;
        color: #E04D01;
    }

    .fa-tv{
        right: 31px;
        position: relative;
       /*margin-top: 0px!important;*/
    }

    .fa-glass-water-droplet{
        margin-bottom: 49px;
        right: 14px;
        position: relative;
        /*margin-top: 38px!important;*/
    }

    .img4{
        /*bottom: 34px;*/
        padding: 0px 0px 0px;
        right: -7px;
        position: relative;
        /*margin-top: 65px!important;*/
    }

    .WM-h4{
        display: flex;
        font-size: 1.4em!important;
    }

    .section .discription{
        /*border: 2px solid;*/
        display: inline-block;
        position: relative;
        bottom: 17px;
    }

    .banner .slider-container{
        padding: 15px!important;
        margin-top: 70px!important;
        width: 100%;
    }

    .banner .services-img{
        height: 170px;
    }

    .slider-discription{
        margin-bottom: 52px!important;
        /*border: 2px solid;*/
        width: 65%!important;
    }

    .slider-text p{
        letter-spacing: 0px;
        word-spacing: 1px;
    }

    /*services section end*/



    /*career section start*/

     
    .career-headline{
        width: 96%;
        margin: 0px auto -11px;
        letter-spacing: 1px;
        word-spacing: 4px;
    }

    .career-job-options{
        margin-left: 0px!important;
        margin-top: 11px!important;
    }

    .career-job-options ol li{
        margin-left: 20px;
        font-size: 18px!important;
        font-family: var(--secondary-font);
    }

    .career-job-form{
        margin-bottom: 80px!important;
        width: 77%!important;
    }

    /*career section end*/



    /*about section start*/

    .about-section-1-row{
        padding: 0 0 21px;
    }

    .about-us-text h2{
        left: 18px;
        margin: 13px 0 0;
    }

    .about-us-text span{
        /*margin-right:0;*/
        left: 18px;
    }

    .about-us-text p{
        width: 100%;
        font-size: 17px;
        margin: 11px auto 0;
        line-height: 25px;
    }

    .section-2-container{
        width: 100%;
    }

    .about-scroller-text h2{
        font-size: 30px;
    }

    .about-scroller-text p{
        padding: 2px 7px;
        font-size: 14px;
    }

    /*about section end*/



    /*contact section start*/
     
    .contact-headline{
        padding: 4px;
        width: 100%;
        margin:0 auto 0;
        letter-spacing: 2px;
        word-spacing: 8px;
    } 
    
    .contact-info h3{
        font-size: 20px;
    }

    .contact-form{
        margin: -23px auto 26px;
    }

    .contact-details{
        padding: 12px 16px!important;
    }

    .enquiry-agent{
        margin-top: 0;
        width: 100%!important;
        margin-left: 0px!important;
    }

    .enquiry-agent-img{
        width: 43%!important;
        /*width: 53%!important;*/
        height: 256px;
    }

    .agent-contact-info{
        margin-top: 0;
        height: 187px;
        /*border: 2px solid;*/
        margin-left: 0px!important;
    }

    .agent-contact-info-text{
        height: 195px;
        padding: 15px 0;
        /*border: 2px solid;*/
    }
     
    /*contact section end*/



    /*footer section start*/

    .footer-text{
        margin: 16px auto 11px auto;
    }

    .footer p{
        font-size: 11px;
    }

    /*footer section end*/
}

@media(min-width: 768px) and (max-width: 992px){

    /*navbar*/

    .header .nav-item{
        margin: 2px 3px;
    }

    .header .navbar-nav i{
        display: inline-block;
        font-size: 1.0rem;
    }

    .header .nav-item .nav-link.active{
        font-size: 15px;
    }

    .button{
        background: transparent;
        margin: 0px;
    }


    /*gallery*/

    .gallery-images {
        margin: 49px auto 7px;
        height: 273px;
    }

    .gallery-images img{
       margin: -48px auto 0;
       width: 110%;
       height: 159%;
    }

    /*.gallery-text-box{
        width: 110%;
    }*/

    /*.gallery-text-box h3{
        font-size: 15px;
    }*/


    /*service icons*/

    /*.section .icon i {
        margin-left: 30px;
    }*/

    .fa-temperature-arrow-down{
        right: 0px;
    }

    .fa-ferry {
        left: 0px;
        right: 30px;
    }

    .fa-tv {
        right: 0px;
    }

    .fa-glass-water-droplet{
        right: 0px;
    }

    .img4 {
        left: 0px;
    }

    .banner .slider-container {
        width: 70%;
    }

    /*contact section contact detail*/

    .contact-details {
       margin-top: -30px;
    }

    .enquiry-agent{
        text-align: center;
    }

    .enquiry-agent-img{
        height: 307px;
    }

    .agent-contact-info {
        position: relative;
        left: 209px;
    }

}


